<div class="col-lg-12">
  <h1>{{titulo}}</h1>
  <div *ngIf="alertMessage">
    <div class="alert alert-info">
      {{alertMessage}}
    </div>
  </div>
  <div class="jumbotron jumbotron-padding">
    <div class="container col-lg-6">
      <form #NationalTeamForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
        <div>
          <label class="common-title">Nombre:</label>
          <input type="text" #name="ngModel" name="name" [(ngModel)]="nationalTeam.name" class="form-control" required />
          <div class="alert alert-danger" role="alert" *ngIf="!name.valid && name.touched">
            El <strong>nombre</strong> es obligatorio.
          </div>
        </div>

        <div>
          <label class="label-form common-title">Confederacion:</label>
          <input type="text"  #confederation="ngModel" name="confederation" [(ngModel)]="nationalTeam.confederation" class="form-control" required />
          <div class="alert alert-danger" role="alert" *ngIf="!confederation.valid && confederation.touched">
            La <strong>confederacion</strong> es obligatoria.
          </div>
        </div>
        <div class="container container-detail">
          <input type="submit" value="Confirmar datos" class="btn btn-success " [disabled]="!NationalTeamForm.valid" />
          <button (click)="cancel()" type="button" class="btn btn-danger btn-inline-size float-right" >Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
