body{
  padding-bottom: 50px;
}

.main-container {
  margin-top: 20px;
}

.app-card{
  margin: 0 15px 15px 0;
}

.row-component{
  margin-right: 20px;
}

.inline-component {
  display:inline-block;
}

.img-size{
  width: 100px;
  height: 100px;
}

.margin {
  margin-right:50px;
}

.container-cards {
  margin: 10px 20px 10px 20px !important;
}

.detail-container {
  margin-top: 10px;
}

.card-title {
  font-size: 20px;
}

.container-detail {
  margin-top: 20px;
}

.jumbotron-padding {
  padding: 20px 25px 20px 25px;
}

.img-container{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

