<div class="col-lg-12">
  <h1>{{titulo}}</h1>
  <div *ngIf="alertMessage">
    <div class="alert alert-info">
      {{alertMessage}}
    </div>
  </div>
  <div class="jumbotron jumbotron-padding">
    <div class="container col-lg-6">
      <form #PlayerForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
        <div>
          <label class="common-title">Nombre:</label>
          <input type="text" #name="ngModel" name="name" [(ngModel)]="player.name" class="form-control" required />
          <div class="alert alert-danger" role="alert" *ngIf="!name.valid && name.touched">
            El <strong>nombre</strong> es obligatorio
          </div>
        </div>

        <div>
          <label class="common-title">Posicion:</label>
          <input type="text"  #position="ngModel" name="position" [(ngModel)]="player.position" class="form-control" required />
          <div class="alert alert-danger" role="alert" *ngIf="!position.valid && position.touched">
            La <strong>posicion</strong> es obligatoria
          </div>
        </div>

        <div>
          <label class="common-title">Club:</label>
          <input type="text" #club="ngModel" name="club" [(ngModel)]="player.club" class="form-control" required />
          <div class="alert alert-danger" role="alert" *ngIf="!club.valid && club.touched">
            El <strong>club</strong> es obligatorio
          </div>
        </div>

        <div>
          <label class="common-title">Liga:</label>
          <input type="text" #league="ngModel" name="league" [(ngModel)]="player.league" class="form-control" required />
          <div class="alert alert-danger" role="alert" *ngIf="!league.valid && league.touched">
            La <strong>liga</strong> es obligatoria
          </div>
        </div>

        <label class="common-title">Seleccion:</label>
        <select class="form-control" name="nationalTeam" [(ngModel)]="player.nationalTeam">
          <option *ngFor="let nationalTeam of nationalTeamsService.nationalTeams" [value]="nationalTeam._id">{{nationalTeam.name}}</option>
        </select>
        <div>

          <label class="label-form common-title">Fecha de nacimiento:</label>
          <input type="text" #dateOfBirth="ngModel" name="dateOfBirth" [(ngModel)]="player.dateOfBirth" class="form-control" required />
          <div class="alert alert-danger" role="alert" *ngIf="!dateOfBirth.valid && dateOfBirth.touched">
            La <strong>fecha de nacimiento</strong> es obligatoria
          </div>
        </div>
        <div class="alert alert-danger" role="alert" class="container container-detail">
          <input type="submit" value="Confirmar datos" class="btn btn-success " [disabled]="!PlayerForm.valid" />
          <button (click)="cancel()" type="button" class="btn btn-danger float-right btn-inline-size" >Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
