<h1>Jugadores: </h1>

<div class="jumbotron jumbotron-padding">
  <div class="container-fluid container-cards">
    <div class="row" *ngIf="players != null">
      <div class="card col-lg-4">
        <div class="card-block player-card">
          <span class="card-title">Agregar Player</span>
          <div class="container container-detail">
            <button (click)="addPlayer()" type="button" class="btn btn-outline-primary btn-block" >Agregar</button>
          </div>
        </div>
      </div>
      <div class="card col-lg-4" *ngFor="let player of players">
        <div class="card-block player-card">
          <span class="card-title">{{player.name}}</span>
          <div class="container detail-container">
            <p class="card-text">Posicion: {{player.position}}</p>
            <p class="card-text">Club: {{player.club}}</p>
            <p class="card-text">Liga: {{player.league}}</p>
            <p class="card-text">Fecha de nacimiento: {{player.dateOfBirth}}</p>
          </div>
          <div class="container container-detail">
            <button (click)="updatePlayer(player._id)" type="button" class="btn btn-outline-primary btn-block" >Modificar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="players == null">
  <strong>Lo sentimos mucho ha ocurrido un error.</strong>
</div>
