<div class="container">

  <h1>Detalle</h1>

  <div class="row" *ngIf="nationalTeam != null">
    <div class="jumbotron col-lg-5 row-component margin">
      <div class="inline-component">
      <p>Nombre: {{nationalTeam.name}}</p>
      <p>Confederacion: {{nationalTeam.confederation}}</p>
      </div>
    </div>
    <div class="jumbotron col-lg-6 inline-component">
      <img class="img-size" src="http://4.bp.blogspot.com/-tSw1ScsOvdI/Up5cWqOLirI/AAAAAAAACLc/c7kpNkpimHg/s1600/EscudoAFA2.png">
    </div>
  </div>
  <div class="jumbotron ">
    <div class="row" *ngIf="nationalTeam != null">
      <div class="card col-lg-3 player-card" *ngFor="let player of players">
        <div class="card-block">
          <span class="card-title">{{player.name}}</span>
          <div class="container detail-container">
            <p class="card-text">Posicion: {{player.position}}</p>
            <p class="card-text">Club: {{player.club}}</p>
            <p class="card-text">Liga: {{player.league}}</p>
            <p class="card-text">Fecha de nacimiento: {{player.dateOfBirth}}</p>
            <div class="container">
              <button (click)="showPlayerDetail()" type="button" class="btn btn-outline-primary btn-block" >Ver Detalle</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="nationalTeam == null">
    <strong>Lo sentimos mucho ha ocurrido un error.</strong>
  </div>

</div>
